.Special-title {
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
}
.Offer {
  display: flex;
  gap: 20px;
}
.Offer-left {
  margin-right: 40px;
}
.Offer-left h3 {
  font-size: 35px;
  font-weight: bold;
  margin: 20px;
}
.Offer-left span {
  padding: 5px 15px;
  border: 1px solid #aba4a4;
  border-radius: 20px;
  margin: 30px;
}
.Offer-left p {
  margin-left: 20px;
  margin-top: 30px;
  text-align: left;
}
.total {
  margin-left: 20px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 15px;
}
.btn {
  margin-left: 20px;
  padding: 10px 20px;
  background-color: black;
  display: inline-block;
  color: white;
  border-radius: 20px;
  margin-top: 15px;
}
.btn:hover {
  background-color: red;
  color: white;
  transition: 0.5s linear;
}
.Offer-right {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 30px;
}
.card {
  padding: 10px 40px;
  text-align: center;
  background-color: #fbf8f6;
  box-shadow: 0px 5px 40px rgb(157, 140, 140);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.8s ease;
}
.card:hover {
  transform: scale(1.1);
}
.special-title {
  font-weight: bold;
  font-size: 20px;
}
.card p:hover {
  color: red;
  transition: 0.5 linear;
}
.special-price {
  background-color: red;
  color: white;
  display: inline-block;
  padding: 3px 15px;
  border-radius: 20px;
}
